$skill-info_margin-left-right: 16px;
$skill-info-icon_width: 32px;
$skill-info-data_padding-left: 16px;
$skill-info-level_width: 168px;

$skill-info_width: $skill-info-icon_width + $skill-info-data_padding-left +
  $skill-info-level_width;
